@CHARSET "ISO-8859-1";
body {
	background-color:#a6bf79;
	color:#000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 0px;
	padding: 0px;
}

#header {
	margin: 0px 0px 0px 0px;
	background-image:url(../images/kadam5.jpg);
	width:1343px;
	height:211px;
	position:relative;
}
#header_text p{
	font-size: 18px;
	color:#FFFFFF;
}

#header ul{
	background-color:#85a157;
	width:1337px;
	border: 3px solid #FFFFFF;
	display:block;
	top:211px;
	position:absolute;
	margin: 0px 0px 0px 0px;
	height:22px;
	padding:5px 0px 0px 0px;
	text-align:center;
}
#header li{
	display:inline;	
}
#header ul a{
	text-decoration:none;
	color:#FFFFFF;
	margin: 0px 35px;
}
#header ul a:hover{
	text-decoration:underline;
	color:#28556b;
}

#content {
	background-image:url(../images/content_bg.gif);
	width:1200px;
	height:600px;
}

#logo_w1,#logo_w2 {
	font-size: 28px;
	font-style:italic;
	color:#FFFFFF;
	position:absolute;
}
#logo_w1{
	top:25px;
	left:850px;
}
#logo_w2{
	top:60px;
	left:800px;
}



a{
	font-size:12px;
}

#right a{
	color:#c77e0c;
}
#right a:hover{
	color:#85a157;
}
#header_text a{color:#28556b;}
#header_text a:hover{color:#c77e0c;}
#photos a{
	margin-right:14px;
}

#left {
	float:left;
	width:428px;
	margin-left:27px;
	padding: 0px 10px 30px 0px;
	display:inline;
}
#left a{color:#28556b;}
#left a:hover{color:#c77e0c;}

#right {
	float:right;
	width:210px;
	padding: 0px 20px 20px 20px;
	margin-top:10px;
	border-left: #FFF 2px solid;

}
#right a{
	color:#c77e0c;
}
#right a:hover{
	color:#85a157;
}
/********************** Footer ***************************/
#footerline {
clear:both;
background-image:url(../images/footer_bg.gif);
font-size:1px;
height:10px;
}
#footer {
	width:717px;
	text-align:center;
	padding: 20px 0px;
}
